<a href="https://colab.research.google.com/github/chanezAmokrane/Bank-Customer-Univariate-Analysis/blob/main/Bienvenue_dans_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Analyse univariée des clients de Thera Bank**

## **Description du dataset**
Dataset clients Thera Bank : informations démographiques et financières.  
Variables principales : Age, Experience, Income, Family, CCAvg, Education, Mortgage  
Comptes : Personal Loan, Securities Account, CD Account, Online, CreditCard

## **Objectif**
Identifier les profils des clients et ceux ayant accepté un prêt personnel.

In [4]:
# Liste des noms de toutes les feuilles
xls = pd.ExcelFile("Bank_Personal_Loan_Modelling.xlsx")
print(xls.sheet_names)

['Description', 'Data']

In [12]:
import pandas as pd
import numpy as np

df = pd.read_excel("Bank_Personal_Loan_Modelling.xlsx", sheet_name='Data', header=0)
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [13]:
# ---------------------------
# NETTOYAGE DES DONNÉES
# ---------------------------
# Vérifier les valeurs manquantes
print("Valeurs manquantes par colonne :")
print(df.isnull().sum())

Valeurs manquantes par colonne :
ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [16]:

# Vérifier les doublons
print("Nombre de doublons :", df.duplicated().sum())

Nombre de doublons : 0